body {
  margin: 0;
  background-color: #FFFFFF;
  font-family: sans-serif;
}

header {
  background-color: #FF833D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
}

#logo_link {
  display: flex;
  align-items: center;
  margin: 0 2%;
  height: 100%;
}

#logo {
  height: 70%;
  width: auto;
  cursor: pointer;
}

#nav_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.circle-container {
  background-color: #f9c899;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100%;
}
/*==========================================================================*/
#sectionDashboard {
  border-right: 1px solid #FF833D;
}

.iconAdjust {
  max-height: 50%;
  max-width: auto;
}

.navAdjust {
  color: #a0a0a0;
  font-size: 135%;
}