body {
  margin: 0;
  background-color: #FFFFFF;
  font-family: sans-serif;
}

header {
  background-color: #FF833D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
}

#logo_link {
  display: flex;
  align-items: center;
  margin: 0 2%;
  height: 100%;
}

#logo {
  height: 70%;
  width: auto;
  cursor: pointer;
}

#nav_header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding-right: 6%;
}

.circle-container {
  background-color: #f9c899;
  border-radius: 50%;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  height: 35%;
  margin-right: 25%;
  padding: 17%;
}

.circle-img {
  height: 100%;
  width: auto;
  cursor: pointer;
  display: flex;
  justify-self: center;
  align-self: center;
}
/*==========================================================================*/
main {
  display: grid;
  grid-template-columns: 21% 79%;
}

#navDashboard {
  box-shadow: 3px 0 2px rgba(0, 0, 0, 0.1);
  max-width: 95%;
  max-height: 100%;
  background-color: #f9f2f2;
  padding-block: 15%;
  overflow-y: hidden;
}

.sectionDashboard {
  display: flex;
  align-items: center;
  margin: 3% 20% 3% 10%;
  text-decoration: none;
}

.iconAdjust {
  max-height: 32px;
  padding: 5%;
}

.navAdjust {
  color: #817979;
  font-size: 146%;
  margin-left: 5%;
}

.navAdjust:hover {
  color: #FF833D;
}
/*=========================================*/
.content {
  margin: 2%;
}

#motivationSquare {
  background-color: #A93C00;
  border-radius: 25px;
  max-width: 100%;
  max-height: 100%;
  padding: 2% 3%;
  color: #FFFFFF;
}

#haloUser {
  font-size: 285%;
}

#teruskanProgresAnda {
  font-size: 150%;
}

#innerSquare {
  background-color: #f6e8e0;
  border-radius: 15px;
  max-width: 100%;
  max-height: 100%;
  padding: 2% 3%;
  margin-top: 2%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #811700;
}

.titleSubSquareMotivate {
  font-size: 160%;
  display: inline;
}

.iconAdjustInner {
  max-height: 4vh;
  display: inline;
  padding-right: 1vw;
}

.jumlahMotivate {
  font-size: 5vh;
  color: #A93C00;
}

hr {
  margin-left: 0;
  width: 85%;
  color: #5C0000;
}

.jumlahMotivateBold {
  font-size: 7vh;
  font-weight: bolder;
  color: #5C0000;
}

#lanjutkanMateri {
  margin-top: 4%;
  color: #ed742e;
}

#materiSquare {
  border: 1px solid rgba(169, 60, 0, 0.3);
  border-radius: 15px;
  display: grid;
  grid-template-columns: 15% 55% 30%;
}

.progress-container {
  width: 100%;
  height: 3vh;
  background-color: #e5e1e1;
  border-radius: 25px;
}

.progress-bar {
  width: 20%;
  height: 100%;
  background-color: #FF833D;
  border-radius: 25px;
}

.percentageBar {
  color: white;
  font-weight: 1000;
  letter-spacing: 1px;
  padding-inline: 3vw;
}

.imgBoxAdjust {
  object-fit: contain;
  max-height: 17vh; 
  border: 3px solid rgba(223, 59, 4, 0.2);
  border-radius: 15px;
  margin: 1vw;
}

.divideTitleBar {
  display: grid;
  grid-template-rows: 75% 25%;
}

.lihatDetailKelas {
  background-color: #A93C00;
  border-radius: 10px;
  margin: 2vh 0 0 8vw;
  max-height: 27%;
  max-width: 60%;
  color: #ffffff;
  padding-top: 2vh;
  text-align: center;
  font-size: 150%;
  text-decoration: none;
}