* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    background-color: #FF833D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
}

#logo_link {
    display: flex;
    align-items: center;
    margin: 0 2%;
    height: 100%;
}
  
#logo {
    height: 70%;
    width: auto;
    cursor: pointer;
}

#nav_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding-right: 3%;
}

.circle-container {
    background-color: #f9c899;
    border-radius: 50%;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    height: 50%;
    margin-right: 15%;
    padding: 7%;
}
  
.circle-img {
    height: 100%;
    width: auto;
    cursor: pointer;
    display: flex;
    justify-self: center;
    align-self: center;
}

#userProf {
    transform: translateY(7px);
}

.subMenu-wrap {
    position: fixed;
    z-index: 1000;
    top: 10%;
    right: 4%;
    width: 320px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
  }
  
  .subMenu-wrap.open-menu {
    max-height: 100%;
  }
  
  .subMenu {
    background-color: #ffffff;
    padding: 5px 20px 20px 20px;
    margin: 20px;
    box-shadow: 5px 0 2px rgba(0, 0, 0, 0.2);
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-info h2 {
    padding-top: 3%;
    font-size: 150%;
    font-weight: 500;
  }
  
  .user-info img {
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .subMenu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 2px 0 10px;
  }
  
  .sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #817979;
    transition: transform 0.5s;
  }
  
  .sub-menu-link p {
    width: 100%;
    font-size: 115%;
    padding-top: 7%;
  }
  
  .sub-menu-link img {
    max-width: 10%;
    margin-right: 7%;
  }
  
  .sub-menu-link:hover {
    transform: translateX(5px);
    color: #FF833D;
  }
  
  #logOut {
    margin-top: 2vh;
    border-top: 1px solid #A93C00;
    border-bottom: 1px solid #A93C00;
  }
  
  #logOut img {
    max-width: 11%;
  }
  
  #logOut p {
    color: #f9461a;
  }
/*====================================*/

body .div {
    display: flex;
    flex-direction: column;
    background-color: #f9c899;
    align-items: center;
    justify-content: center;
}

.container-regist{
    position: relative;
    margin: 50px;
    background-color: #f9c899;
    border-radius: 25px;
    box-shadow: 0 5px 15px #000000;
    width: auto;
    min-height: 150px;
}

.container-login{
    position: relative;
    margin: 50px;
    background-color: #f9c899;
    border-radius: 25px;
    box-shadow: 0 5px 15px #000000;
    width: auto;
    min-height: 150px;
}

.container-profile {
    position: relative;
    margin: 5px 50px;
    background-color: #f9c899;
    border-radius: 25px;
    box-shadow: 0 5px 15px #000000;
    width: auto;
    min-height: 150px;
}

#h1-p {
    margin: 20px 0;
    padding-left: 35px;
    padding-bottom: 0px;
    color: #811700;
}

#my-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h-p{
    color: #000000;
    margin: 0 0 0;
    font-family: sans-serif;
}

#edit-profile {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    height: 100%;
    color: #811700;
    font-weight: bold;
    background-color: #FF833D;
    border-radius: 25px;
}

#sandi-profile {
    flex-direction: row;
    width: auto;
}


#img-regist {
    border-radius: 25px;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0 0;
}

.form-registration {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    height: 100%;
    color: #811700;
    font-weight: bold;
}

.form-login{
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    height: 100%;
    color: #811700;
    font-weight: bold;
}

.button-regist {
    width: 75px;    
    border-radius: 20px;
    outline: none;
    align-self: flex-end;
    background-color:#811700;
    color: #ffffff;
}

.button-login {
    width: 75px;    
    border-radius: 20px;
    outline: none;
    align-self: flex-end;
    background-color:#811700;
    color: #ffffff;
}

